.dd-contact-form input[type=text], .dd-contact-form input[type=email], .dd-contact-form textarea {
  border-radius: 15px!important;
  border: 2px solid rgb(232, 232, 232) !important;
  padding: 15px;
  width: 100%;
  font-family: "Montserrat", sans-serif!important;
}

.dd-contact-form input.wpcf7-form-control.wpcf7-submit {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(111, 71, 12);
  --tve-applied-border: 1px solid rgb(111, 71, 12);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 5px 0px;
  --tve-applied-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(rgb(234, 140, 0) 0%, rgb(222, 133, 0) 100%) !important;
  background-color: rgb(255, 140, 0) !important;
  background-size: auto !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
  --tve-applied-background-image: linear-gradient(180deg, rgb(234, 140, 0) 0%, rgb(222, 133, 0) 100%) !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif!important;
  width: 100%;
}