.home nav#site-navigation {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.40);
  position: relative;
  z-index: 999;
}
.navigation-branding img {
  max-height: 60px;
  position: relative;
  top: -1px;
}
.main-navigation .main-nav ul {
  li.menu-item {
    > a {
      padding-left: 17px;
      padding-right: 17px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 13px;
      &:before {
        content: "";
        display: inline-block;
        background-size: cover!important;
        position: relative;
      }
    }
    &.ask-a-vet > a:before {
      width: 23px;
      height: 23px;
      background: url(../images/icons/ask-a-vet.svg);
      bottom: -5px;
      margin-right: 6px;
    }
    &.dog-food-recalls > a:before {
      background: url(../images/icons/dog-food-recalls.svg);
      width: 27px;
      height: 30px;
      bottom: -8px;
      margin-right: 6px;
    }
    &.breeds > a:before {
      width: 25px;
      height: 25px;
      background: url(../images/icons/breeds.svg);
      bottom: -5px;
      margin-right: 6px;
    }
    &.nutrition > a:before {
      width: 23px;
      height: 23px;
      background: url(../images/icons/nutrition.svg);
      bottom: -5px;
      margin-right: 6px;
    }
    &.gear > a:before {
      width: 23px;
      height: 23px;
      background: url(../images/icons/gear.svg);
      bottom: -5px;
      margin-right: 6px;
    }
    &.blog > a:before {
      width: 23px;
      height: 23px;
      background: url(../images/icons/training.svg);
      bottom: -5px;
      margin-right: 6px;
    }
  }
}

@media (max-width: 1140px) {
  .navigation-branding img, .site-logo.mobile-header-logo img {
    height: 50px!important;
    width: auto;
  }
  .main-navigation .main-nav ul {
    li.menu-item {
      > a {
        padding-left: 11px;
        padding-right: 11px;
      }
    }
  }
}

@media (max-width: 360px) {
  .navigation-branding img, .site-logo.mobile-header-logo img {
    height: 43px !important;
    width: auto;
  }
}