.meet-our-vets > .tve-page-section-out {
  width: 1050px;
  height: 452px;
  top: 186px;
  left: 60px;
}

@media (max-width: 767px) {
  .meet-our-vets > .tve-page-section-out {
    width: 416px;
    height: 172px;
    top: 240px;
    left: 18px;
  }
}