.post-angle-button > a {
  width: 56px;
  height: 56px;
}

.dd-popular-posts {
  position: relative;
  > .tve-page-section-out {
    width: 1200px;
    margin: 0 auto;
    right: 0 !important;
    left: -54px !important;
    top: 18px;
    background-size: cover !important;
    height: 1071px;
  }

  .tcb-post-list {
    padding-bottom: 20px!important;
    &:after {
      content: "";
      background: #f9f8f6;
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
    article {
      overflow: hidden!important;
      position: relative;
      border-radius: 30px;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      transform: translateX(0);


      &:first-child > .thrv_wrapper:nth-child(2) {
        height: 215px;
      }

      &:nth-child(3) > .thrv_wrapper:nth-child(2) {
        height: 247px;
      }

      &:nth-child(5) > .thrv_wrapper:nth-child(2) {
        height: 308px;
      }

      &:nth-child(2) > .thrv_wrapper:nth-child(2) {
        height: 244px;
      }
      &:nth-child(4) > .thrv_wrapper:nth-child(2) {
        height: 211px;
      }

      &:nth-child(6) > .thrv_wrapper:nth-child(2) {
        height: 175px;
      }
    }
  }
  &.dd-popular-posts--simple {

    .tcb-post-list.thrv_wrapper[data-css] {
      article.post-wrapper {
        .thrv_wrapper:nth-child(2) {
          height: inherit!important
        }
      }
      @media (min-width: 1021px) {
        display: flex!important;
        article.post-wrapper {
          width: 31% !important;
        }
      }
    }
  }
}

.dd-popular-posts .tcb-post-list.thrv_wrapper {
  column-count: 3;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  display: block!important;
}

.dd-popular-posts .tcb-post-list.thrv_wrapper[data-css] article.post-wrapper {
  width: 100%!important;
  display: inline-block;
  margin-top: 0!important;
  margin-bottom: 20px!important;
}

span.tcb-post-date.tcb-shortcode.tcb-plain-text.thrv_wrapper div {
  margin-bottom: 2px!important;
}

@media (max-width: 1020px) {
  .dd-popular-posts .tcb-post-list.thrv_wrapper {
    column-count: 2;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    display: block!important;
  }
}
@media (max-width: 767px) {
  span.tcb-post-date.tcb-shortcode.tcb-plain-text.thrv_wrapper div {
    margin-bottom: 12px !important;
  }
  .dd-popular-posts .tcb-post-list.thrv_wrapper {
    column-count: 1;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    display: block!important;
    padding-bottom: 30px!important;
  }
}

@media (max-width: 767px) {
  .dd-popular-posts > .tve-page-section-out {
    top: -26px;
  }
  .dd-popular-posts .tcb-post-list.thrv_wrapper[data-css] article.post-wrapper {
    display: flex;
    padding-bottom: 0!important;
    border: 2px solid #1f62a7;
  }

  .dd-popular-posts .tcb-post-list article > .thrv_wrapper:nth-child(2) {
    width: 215px!important;
    height: auto !important;
    overflow: hidden!important;
    border-right: 1px solid #1f62a7;
  }

  .dd-popular-posts .tcb-post-list article .thrv_wrapper.tcb-post-read-more {
    display: none;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) {
    text-align: left;
    width: calc(100% - 215px);
    padding-left: 20px!important;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) h2.tcb-post-title[data-css] {
    text-align: left;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) span.tcb-post-date[data-css] {
    text-align: left!important;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) span.tcb-post-date[data-css] a {
    text-align: left!important;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) section.tcb-post-content.tcb-shortcode.thrv_wrapper[data-css] {
    text-align: left!important;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) section.tcb-post-content.tcb-shortcode.thrv_wrapper[data-css] p {
    text-align: left!important;
  }
}

@media (max-width: 560px) {
  .dd-popular-posts .tcb-post-list article > div:nth-child(3) section.tcb-post-content.tcb-shortcode.thrv_wrapper[data-css]  {
    display: none;
  }

  .dd-popular-posts .tcb-post-list article > div:nth-child(3) :not(#tve)  h2.tcb-post-title[data-css] a,
  .dd-popular-posts .tcb-post-list article > div:nth-child(3) :not(#tve)  h2.tcb-post-title[data-css] {
    font-size: 17px!important;
    padding-bottom: 10px!important;
    margin-bottom: 0!important;
  }
  .dd-popular-posts .tcb-post-list article > div:nth-child(3) {
    text-align: left;
    width: calc(100% - 120px);
    padding-left: 0px!important;
  }
  .dd-popular-posts .tcb-post-list article > .thrv_wrapper:nth-child(2) {
    width: 120px!important;
  }
  .dd-popular-posts .tcb-post-list article > .thrv_wrapper:nth-child(2) .tve-cb[data-css] {
    min-height: auto!important;
  }
}