body {
  /**
  Font smoothing
   */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9F8F6!important;
}

body, .container.grid-container {
  background: #F9F8F6!important;
}

div#page {
  max-width: 100%;
  overflow: hidden;
}

div#content, .container {
  max-width: 1200px;
  margin: 0 auto;
}