.category-banner {
  &__content-row {
    .tcb-flex-row:not(.tcb-resized) {
      justify-content: flex-start;

      .tcb-flex-col.c-33 {
        width: 100px !important;
        max-width: 100px !important;
      }

      .tcb-flex-col.c-66 {
        max-width: calc(100% - 100px);
      }
    }
  }

  &__content-image {
    img {
      pointer-events: none;
    }
  }

  > .tve-page-section-in > .thrv_wrapper {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      background-size: cover !important;
    }

    &:before {
      content: "";
      width: 154px;
      height: 158px;
      background: url(../images/elements/category-banner-left-bg.svg);
      bottom: 80px;
      left: -102px;
    }

    &:after {
      content: "";
      width: 149px;
      height: 275px;
      background: url(../images/elements/category-banner-right-bg.svg);
      right: 0;
      top: 52px;
    }
  }
}


.dd-popular-posts.category-popular-posts  {
  margin-top: -210px!important;
  .tve-page-section-out {
    margin-top: 160px;
  }
}

@media (max-width: 545px) {
  .category-banner {
    > .tve-page-section-in > .thrv_wrapper {
      &:before {
        display: none;
      }
    }
  }
}