body.page-template-default {
  div#content {
    div#primary.grid-75 {
      &:before {
        display: block;
        height: 260px;
        background: #2973be;
        width: calc(100vw + 25%);
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        content: "";
        overflow: visible;
        visibility: visible;
        pointer-events:none;
      }
      .inside-article {
        background: white!important;
        background: white;
        margin-top: -250px;
        position: relative;
        z-index: 19;
        padding: 30px 30px 20px !important;
        margin-left: 30px;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
        margin-bottom: 50px;
        &:before {
          content: "";
          width: 116px;
          height: 197px;
          background: url(../images/elements/single-left-bg.svg);
          background-size: cover;
          position: absolute;
          left: -150px;
          top: 0;
        }
        &:after {
          content: "";
          width: 304px;
          height: 201px;
          background: url(../images/elements/single-right-bg.svg);
          background-size: cover;
          position: absolute;
          right: -368px;
          top: -11px;
        }
        h1.entry-title {
          font-weight: 700;
        }
        .entry-content {
          .tve-leads-shortcode {
            .tve-leads-conversion-object .thrv-leads-form-box {
              padding: 0!important;
              overflow: hidden;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
              border: 3px solid #3090c1!important;
              border-radius: 20px;
            }
          }
          img {
            border-radius: 20px;
          }
          figure.wp-caption {
            margin: 10px auto 30px;

            .wp-caption-text {
              text-align: center;
              margin-top: 5px;
              color: #242c38;
              font-size: 13px;
              opacity: 0.7;
            }
          }
          > ul:not([class]) {
            margin-top: -10px;
            margin-bottom: 30px;
            padding-left: 0;
            margin-left: 0;
            list-style: none;

            > li {
              position: relative;
              padding-left: 0;
              margin-left: 0;

              &:before {
                height: 17px;
                width: 18px;
                content: "";
                background: url(../images/icons/blue-handpaw.svg);
                border: 0;
                margin-right: 6px;
                position: relative;
                bottom: -3px;
                display: inline-block;
              }
            }
          }
        }
      }
    }
    div#right-sidebar {
      .inside-right-sidebar {
        margin-top: 48px !important;
        position: relative;
        aside.recent-posts-widget-with-thumbnails {
          background: transparent;
          h2.widget-title {
            text-align: center;
            color: white!important;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 10px;
          }
          ul {
            li {
              background: white;
              border-radius: 30px;
              overflow: hidden;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              img {
                margin: 0 0 10px;
              }
              span.rpwwt-post-title {
                text-align: center;
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 8px;
                color: #424242;
                font-weight: bold;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.page-template-default {
    div#content {
      div#primary.grid-75 {
        .inside-article {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
  body.page-template-default div#content div#right-sidebar .inside-right-sidebar {
    display: none;
  }
}