.button-cta {
  span.tcb-button-texts span:after {
    content: "";
    display: inline-block;
    background-size: cover !important;
    position: relative;
    width: 39px;
    height: 23px;
    background: url(../images/elements/button-angle.svg);
    margin-bottom: -5px;
    margin-left: 13px;
    margin-right: -13px;
  }
}

@media (max-width: 600px) {
  .button-cta span.tcb-button-texts span:after {
    display: none;
  }
}