

.tl-lb-target.tve-leads-track-lightbox-12.tve_p_lb_background.tve_lb_open img.tve_image.wp-image-3572969 {
  width: 551px!important;
  height: 479px!important;
}

.tl-lb-target.tve-leads-track-lightbox-12.tve_p_lb_background.tve_lb_open span.tve_image_frame {
  width: 551px;
  height: 479px!important;
}

.tl-lb-target.tve-leads-track-lightbox-12.tve_p_lb_background.tve_lb_open .thrv_wrapper {
  padding: 0;
}

@media (max-width: 570px) {
  .tve_post_lightbox.tve-leads-lightbox .tve_p_lb_background .tve_p_lb_content {
    width: calc(100% - 30px)!important;
    height: auto!important;
    max-width: 551px!important;
    margin: 15px!important;
  }
  .tl-lb-target.tve-leads-track-lightbox-12.tve_p_lb_background.tve_lb_open img.tve_image.wp-image-3572969 {
    width: 100%!important;
    height: auto!important;
  }
  .tl-lb-target.tve-leads-track-lightbox-12.tve_p_lb_background.tve_lb_open span.tve_image_frame {
    background: transparent;
    height: auto!important;
  }
}