body.single-post .su-row.pros-and-cons {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  .su-column-inner {
    height: 100%;
  }

  .su-box.su-box-style-default {
    padding: 0;
    border-radius: 15px!important;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20) !important;
    height: 100%;

    .su-box-title {
      font-size: 18px;
      &:before {
        content: "";
        display: inline-block;
        background-size: cover !important;
        position: relative;
        width: 39px;
        height: 23px;
        background: url(../images/elements/handpaw.svg);
        margin-bottom: -5px;
        margin-right: -5px;
      }
    }

    .su-box-content {
      height: 100%;
    }



  }
  li {
    margin-bottom: 5px !important;
    padding-left: 30px !important;
    padding-top: 5px !important;
    font-weight: bold;
    font-size: 16px;
  }
  .su-column.su-column-size-1-2 {
    flex: 1;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      i.sui {
        color: #4cb162 !important;
      }
      .su-box.su-box-style-default {
        border: 2px solid #4cb162!important;
        .su-box-title {
          background: #4cb162!important;
        }

        .su-box-content {
          background: #F3FCF4;
        }

        li {
          color: #4cb162 !important;
        }
      }
    }

    &:nth-child(2) {
      i.sui {
        color: #bd373f !important;
      }
      .su-box.su-box-style-default {
        border: 2px solid #bd373f!important;
        .su-box-title {
          background: #bd373f!important;
        }

        .su-box-content {
          background: #FFF4F5;
        }

        li {
          color: #bd373f !important;
        }
      }
    }
  }
}



@media (max-width: 768px) {
  body.single-post .su-row.pros-and-cons {
    flex-direction: column;
  }
}