body.single {
  .post-author-box {
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
    margin-left: 29px;
    width: calc(100% - 28px);
    z-index: 20;
    margin-top: -60px;
    &__inner {
      position: relative;
      &:after {
        content: "";
        width: 90%;
        height: calc(100% + 12px);
        position: absolute;
        right: -7px;
        top: -6px;
        background: #EA8C00;
        z-index: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
    &__label {
      color: white;
      background: #ea8c00;
      border-bottom-right-radius: 30px;
      width: 60px;
      height: 18px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      padding: 4px 15px;
      position: absolute;
      left: 56px;
      top: -6px;
      z-index: 22;
      &:before  {
        content: "";
        display: inline-block;
        position: relative;
        width: 41px;
        height: 41px;
        background: #ea8c00 url(../images/icons/writer.svg);
        margin-right: 6px;
        position: absolute;
        left: -26px;
        top: -5px;
        border-radius: 50%;
        background-size: 21px 21px!important;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
    .saboxplugin-wrap {
      background: #2B77BD;
      color: white;
      padding: 20px;
      position: relative;
      z-index: 21;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-bottom: 40px!important;
      border: 0;
      a {
        color: white;
      }
      a.sab-profile-edit {
        color: white!important;
        opacity: 0.5;
      }
      a.vcard.author {
        font-size: 22px;
        font-weight: bold;
        margin-right: 5px;
      }
      .saboxplugin-gravatar img {
        border-radius: 50%!important;
        border: 3px solid #EA8C00;
        margin-bottom: 40px;
      }
      .saboxplugin-authorname {
        margin-bottom: 13px!important;
      }
      .sab-edit-settings {
        bottom: 20px;
        right: 20px;
        font-size: 14px;
        a {
          color: white!important;
          opacity: 0.5;
          padding: 10px;
        }
      }
      .saboxplugin-socials {
        background: transparent!important;
        border: 0!important;
        padding-left: 136px!important;
        padding-top: 0!important;
        a {
          background: white;
          color: #2b77bd!important;
          border-radius: 50%;
          width: 33px;
          height: 33px;
          text-align: center;
          display: inline-flex!important;
          flex-direction: column;
          justify-content: center;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)!important;
          margin-right: 15px!important;
          svg {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.single .post-author-box {
    width: calc(100% - 28px);
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  body.single .post-author-box .saboxplugin-wrap .saboxplugin-gravatar img {
    margin-bottom: -10px;
  }
  body.single .post-author-box .saboxplugin-wrap .saboxplugin-socials {
    margin: 0 auto!important;
    padding-left: 0!important;
  }
  body.single .post-author-box .saboxplugin-wrap .sab-edit-settings {
    display: none;
  }
}