.dd-post-meta {
  font-size: 15px;
  &--blue {
    color: #2873BE;
  }
  .dd-post-date {
    margin-left: 13px;
  }
}

.dd-post--author {
  img.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -8px;
    margin-right: 3px;
  }
  color: #6f6f6f !important;
  &:hover {
    color: #2873be!important;
  }
} 

.dd-post-date {
  color: #6f6f6f !important;
  svg {
    position: relative;
    bottom: -4px;
    margin-right: 4px;
  }

}

@media (max-width: 470px) {
  .dd-post-date {
    span.last-updated {
      display: none;
    }
  }
}