.product-box {
  .thrv_wrapper.tve_image_caption {
    position: relative;
    width: 100%;
    min-height: 264px;
    margin-bottom: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:before {
      content: "";
      background: #E9E6E1;
      width: 224px;
      height: 224px;
      border-radius: 40px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
    }
    span.tve_image_frame {
      margin: 0 auto;
      text-align: center;
      position: relative;
      top: -20px;
      width: 100%;
      height: 100%;
      img {
        max-width: 74%;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

.tcb-flex-row.v-2.tcb--cols--1 {
  padding-top: 0;
  margin-top: 0;
}

.thrv_wrapper.thrv-columns {
  padding-top: 0;
  margin-top: 0;
}

.product-box .thrv_wrapper.tve_image_caption span.tve_image_frame img {
  max-height: 212px;
}

@media (max-width: 767px) {
  .thrv_wrapper.thrv-columns.dd-product-boxes  {
    > div {
      display: flex;
      flex-wrap: wrap!important;
      > .tcb-flex-col {
        width: 50% !important;
        flex: 1 0 50% !important;
      }
    }
    .thrv_wrapper.product-box {
      padding: 0;
      .thrv_wrapper.tve_image_caption span.tve_image_frame {
        top: 0;
        img {
          max-width: 80% !important;
          max-height: 200px;
        }
      }
    }
  }
  .product-box .thrv_wrapper.tve_image_caption:before {
    width: 100%;
    height: 160px;
    top: 36px;
  }
  .product-box .thrv_wrapper.tve_image_caption {
    min-height: 200px;
    margin-bottom: 17px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .product-box .thrv_wrapper.tve_image_caption:before {
    width: 120px;
    height: 100px;
    top: 14px;
  }
  .thrv_wrapper.thrv-columns.dd-product-boxes .thrv_wrapper.product-box .thrv_wrapper.tve_image_caption span.tve_image_frame img {
    max-height: 150px;
    max-width: 70% !important;
  }
  .product-box .thrv_wrapper.tve_image_caption {
    margin-bottom: 0;
    min-height: 150px;
    top: -11px;
  }
  .thrv_wrapper.thrv-columns.dd-product-boxes .thrv_wrapper.product-box .thrv_wrapper.thrv_text_element p {
    font-size: 14px;
  }
  .product-box .thrv_wrapper.thrv-button a, .product-box .thrv_wrapper.thrv-button :not(#tve) span[data-css] {
    font-size: 13px!important;
  }
}

@media (max-width: 400px) and (min-width: 360px) {
  .thrv_wrapper.thrv-columns.dd-product-boxes {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
}